# 전국 시군구별 교통사고 현황

1. 데이터명 : 전국시군구별 교통사고
2. 목적 : 서울뿐만 아니라 전국 각시도에 속한 시군구별 현황을 보여주기 위함
- 사용한다면 광역자치단체별로 분류해서 사용하는 것이 더 나아보임
- 시각화할 분량이 부족할 때 사용

In [19]:
# rawData
import pandas as pd
df4 = pd.read_csv('C:\\rawData\\전국시군구별 교통사고.csv', encoding = 'cp949')
df4

,시군구,구분,2017,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
0,NaN,NaN,합계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,건설기계,NaN,농기계,NaN,보행자,NaN,기타,NaN,미분류,NaN
1,NaN,NaN,합계,승용,승합,화물,특수,이륜,원동기,기타,...,합계,기타,합계,기타,합계,기타,합계,기타,합계,기타
2,합계,사고건수,1143175,163058,39801,43658,1111,22080,4690,868777,...,2677,2677,389,389,9520,9520,429701,429701,431680,431680
3,NaN,사망자수,4185,2048,286,961,29,406,121,334,...,79,79,62,62,0,0,7,7,0,0
4,NaN,부상자수,1803325,253046,61731,65786,1773,25668,5530,1389791,...,3796,3796,426,426,11072,11072,666884,666884,800993,800993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,NaN,사망자수,31,20,1,5,1,3,0,1,...,0,0,0,0,0,0,0,0,0,0
706,NaN,부상자수,5844,1386,252,455,5,135,24,3587,...,10,10,9,9,52,52,1910,1910,2189,2189
707,기타/불명,사고건수,30323,1251,8052,234,3,220,61,20502,...,5,5,3,3,155,155,12975,12975,11822,11822
708,NaN,사망자수,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
709,NaN,부상자수,51636,2009,10945,427,5,226,64,37960,...,5,5,3,3,177,177,21414,21414,24951,24951

In [51]:
# pm data
df4_pm = df4.iloc[:,[0,1,21,50,79,108,137]]
df4_pm.columns = ['자치구명','구분','2017','2018','2019','2020','2021']
df4_pm

,자치구명,구분,2017,2018,2019,2020,2021
0,NaN,NaN,개인형이동수단(PM),개인형이동수단(PM),개인형이동수단(PM),개인형이동수단(PM),개인형이동수단(PM)
1,NaN,NaN,합계,합계,합계,합계,합계
2,합계,사고건수,117,225,447,897,1735
3,NaN,사망자수,4,4,8,10,19
4,NaN,부상자수,124,238,473,985,1901
...,...,...,...,...,...,...,...
705,NaN,사망자수,0,0,NaN,NaN,0
706,NaN,부상자수,1,1,NaN,NaN,5
707,기타/불명,사고건수,NaN,NaN,NaN,NaN,NaN
708,NaN,사망자수,NaN,NaN,NaN,NaN,NaN
709,NaN,부상자수,NaN,NaN,NaN,NaN,NaN

In [74]:
# 필요한 부분만 추출 -> 최종 pm
df4_pm1 = df4_pm.drop(index=[0,1,2,3,4]) # 합계 제거
a = df4_pm1[['자치구명']].fillna(method='ffill')
b = df4_pm1.drop(columns='자치구명').fillna(0)
df4_pm_fin = pd.concat([a,b],axis=1).reset_index(drop=True)
df4_pm_fin

      자치구명    구분 2017 2018 2019 2020 2021
0      종로구  사고건수    2    3    1    7    4
1      종로구  사망자수    0    0    0    0    0
2      종로구  부상자수    2    3    1    8    5
3       중구  사고건수    0    0    2    8    8
4       중구  사망자수    0    0    0    0    0
..     ...   ...  ...  ...  ...  ...  ...
700   서귀포시  사망자수    0    0    0    0    0
701   서귀포시  부상자수    1    1    0    0    5
702  기타/불명  사고건수    0    0    0    0    0
703  기타/불명  사망자수    0    0    0    0    0
704  기타/불명  부상자수    0    0    0    0    0

[705 rows x 7 columns]

In [76]:
# seoul
df4_seoul = df4_pm_fin.iloc[0:75,:]
df4_seoul

   자치구명    구분 2017 2018 2019 2020 2021
0   종로구  사고건수    2    3    1    7    4
1   종로구  사망자수    0    0    0    0    0
2   종로구  부상자수    2    3    1    8    5
3    중구  사고건수    0    0    2    8    8
4    중구  사망자수    0    0    0    0    0
..  ...   ...  ...  ...  ...  ...  ...
70  강북구  사망자수    0    0    0    0    0
71  강북구  부상자수    0    1    1    3   18
72  금천구  사고건수    0    0    5    7    3
73  금천구  사망자수    0    0    0    0    0
74  금천구  부상자수    0    0    5   10    4

[75 rows x 7 columns]

In [78]:
# busan
df4_busan = df4_pm_fin.iloc[75:123,:]
df4_busan

     자치구명    구분 2017 2018 2019 2020 2021
75     중구  사고건수    0    0    1    0    1
76     중구  사망자수    0    0    0    0    0
77     중구  부상자수    0    0    1    0    1
78     서구  사고건수    0    0    1    0    1
79     서구  사망자수    0    0    0    0    0
80     서구  부상자수    0    0    1    0    2
81     동구  사고건수    1    0    0    0    2
82     동구  사망자수    0    0    0    0    0
83     동구  부상자수    1    0    0    0    2
84    영도구  사고건수    1    0    0    0    2
85    영도구  사망자수    0    0    0    0    1
86    영도구  부상자수    1    0    0    0    1
87     진구  사고건수    2    1    1    8    5
88     진구  사망자수    0    0    0    0    0
89     진구  부상자수    2    1    1   11    5
90    동래구  사고건수    1    3    1    1    8
91    동래구  사망자수    0    0    0    0    0
92    동래구  부상자수    2    3    1    1    9
93     남구  사고건수    1    1    1    4    4
94     남구  사망자수    0    0    0    0    0
95     남구  부상자수    1    1    1    4    4
96     북구  사고건수    0    0    0    5    0
97     북구  사망자수    0    0    0    0    0
98     북구  부상자수    0    0    0    5    0
99   해운대구  사고건수    1    3    3    6    5
100  해운대구  사망자수    0    0    0    0    0
101  해운대구  부상자수    1    3    3    6    5
102   사하구  사고건수    0    1    1    1    2
103   사하구  사망자수    0    0    0    0    0
104   사하구  부상자수    0    1    1    1    2
105   금정구  사고건수    0    1    4    2    5
106   금정구  사망자수    0    0    0    0    0
107   금정구  부상자수    0    1    4    2    6
108   강서구  사고건수    0    0    0    1    2
109   강서구  사망자수    0    0    0    0    0
110   강서구  부상자수    0    0    0    1    2
111   연제구  사고건수    1    0    0    2    4
112   연제구  사망자수    0    0    0    0    0
113   연제구  부상자수    1    0    0    2    4
114   수영구  사고건수    0    2    0    3    4
115   수영구  사망자수    0    0    0    0    0
116   수영구  부상자수    0    2    0    3    4
117   사상구  사고건수    0    1    1    1    0
118   사상구  사망자수    0    0    0    0    0
119   사상구  부상자수    0    1    1    1    0
120   기장군  사고건수    0    0    0    0    1
121   기장군  사망자수    0    0    0    0    0
122   기장군  부상자수    0    0    0    0    1

In [79]:
# daegu
df4_daegu = df4_pm_fin.iloc[123:147,:]
df4_daegu

    자치구명    구분 2017 2018 2019 2020 2021
123   중구  사고건수    3    1    0    3    9
124   중구  사망자수    0    0    0    0    0
125   중구  부상자수    4    1    0    3   12
126   동구  사고건수    1    0    1    2    5
127   동구  사망자수    0    0    0    0    0
128   동구  부상자수    1    0    1    2    5
129   서구  사고건수    0    1    2    3    7
130   서구  사망자수    0    0    0    0    0
131   서구  부상자수    0    1    2    4    7
132   남구  사고건수    0    1    1    2    3
133   남구  사망자수    0    0    0    0    0
134   남구  부상자수    0    1    1    2    5
135   북구  사고건수    1    0    2    9   17
136   북구  사망자수    0    0    0    0    0
137   북구  부상자수    1    0    3    9   17
138  수성구  사고건수    1    2    3    2    7
139  수성구  사망자수    0    0    0    0    0
140  수성구  부상자수    2    2    4    2    7
141  달서구  사고건수    2    6   14   16   45
142  달서구  사망자수    0    0    0    0    0
143  달서구  부상자수    2    7   14   17   51
144  달성군  사고건수    1    1    2    6   11
145  달성군  사망자수    0    0    0    0    0
146  달성군  부상자수    1    1    2    7   12

In [80]:
# incheon
df4_incheon = df4_pm_fin.iloc[147:177,:]
df4_incheon

     자치구명    구분 2017 2018 2019 2020 2021
147    중구  사고건수    1    0    1    0    2
148    중구  사망자수    0    0    0    0    0
149    중구  부상자수    1    0    1    0    3
150    동구  사고건수    0    0    0    0    0
151    동구  사망자수    0    0    0    0    0
152    동구  부상자수    0    0    0    0    0
153  미추홀구  사고건수    1    3    3    3   10
154  미추홀구  사망자수    0    0    0    0    0
155  미추홀구  부상자수    1    3    3    3   11
156   부평구  사고건수    1    1    1    5   15
157   부평구  사망자수    0    0    0    1    0
158   부평구  부상자수    1    1    1    4   15
159   남동구  사고건수    0    0    7    4   11
160   남동구  사망자수    0    0    0    0    0
161   남동구  부상자수    0    0    9    4   11
162    서구  사고건수    1    0    5    7   14
163    서구  사망자수    0    0    0    0    0
164    서구  부상자수    1    0    5    9   16
165   연수구  사고건수    0    4    1    3    7
166   연수구  사망자수    0    0    0    0    1
167   연수구  부상자수    0    4    2    3    6
168   계양구  사고건수    0    0    1    5    1
169   계양구  사망자수    0    0    0    1    0
170   계양구  부상자수    0    0    1    6    1
171   강화군  사고건수    0    1    0    0    0
172   강화군  사망자수    0    0    0    0    0
173   강화군  부상자수    0    1    0    0    0
174   옹진군  사고건수    0    0    0    0    0
175   옹진군  사망자수    0    0    0    0    0
176   옹진군  부상자수    0    0    0    0    0

In [81]:
# gwangju
df4_gwangju = df4_pm_fin.iloc[177:192,:]
df4_gwangju

    자치구명    구분 2017 2018 2019 2020 2021
177   동구  사고건수    0    0    1    2    7
178   동구  사망자수    0    0    0    0    0
179   동구  부상자수    0    0    1    2    8
180   서구  사고건수    1    3    7    3   20
181   서구  사망자수    0    0    0    0    0
182   서구  부상자수    1    3    9    3   24
183   북구  사고건수    1    6    3   18   30
184   북구  사망자수    0    0    0    0    0
185   북구  부상자수    1    7    4   21   34
186  광산구  사고건수    1    6    5   12   39
187  광산구  사망자수    0    0    0    1    0
188  광산구  부상자수    2    6    5   12   46
189   남구  사고건수    0    0    2    3    4
190   남구  사망자수    0    0    0    0    0
191   남구  부상자수    0    0    2    3    4

In [82]:
# daejeon
df4_daejeon = df4_pm_fin.iloc[192:207,:]
df4_daejeon

    자치구명    구분 2017 2018 2019 2020 2021
192   동구  사고건수    0    2    2    8    9
193   동구  사망자수    0    0    0    0    0
194   동구  부상자수    0    2    2    9   11
195   중구  사고건수    0    1    8    2    5
196   중구  사망자수    0    0    0    0    0
197   중구  부상자수    0    1    8    2    5
198   서구  사고건수    3    1   14    7   15
199   서구  사망자수    0    0    0    0    0
200   서구  부상자수    3    1   18    9   18
201  유성구  사고건수    3    4    9   12   14
202  유성구  사망자수    0    0    1    0    1
203  유성구  부상자수    5    4    9   13   16
204  대덕구  사고건수    2    2    1    0    2
205  대덕구  사망자수    0    0    0    0    0
206  대덕구  부상자수    2    3    1    0    2

In [83]:
# ulsan
df4_ulsan = df4_pm_fin.iloc[207:222,:]
df4_ulsan

    자치구명    구분 2017 2018 2019 2020 2021
207   중구  사고건수    0    2    3    1    5
208   중구  사망자수    0    0    0    0    0
209   중구  부상자수    0    2    3    1    5
210   남구  사고건수    0    3    2    2    6
211   남구  사망자수    0    0    0    0    0
212   남구  부상자수    0    3    2    2    8
213   동구  사고건수    0    2    1    1    2
214   동구  사망자수    0    0    0    0    0
215   동구  부상자수    0    2    1    1    2
216   북구  사고건수    0    0    3    0    3
217   북구  사망자수    0    0    0    0    1
218   북구  부상자수    0    0    3    0    2
219  울주군  사고건수    0    0    0    1    5
220  울주군  사망자수    0    0    0    0    0
221  울주군  부상자수    0    0    0    1   11

In [87]:
# sejong
df4_sejong = df4_pm_fin.iloc[222:225,:]
df4_sejong

    자치구명    구분 2017 2018 2019 2020 2021
222  세종시  사고건수    0    0    1    5   11
223  세종시  사망자수    0    0    0    0    0
224  세종시  부상자수    0    0    1    7   11

In [89]:
# gyeonggi
df4_gyeonggi = df4_pm_fin.iloc[225:318,:]
df4_gyeonggi

    자치구명    구분 2017 2018 2019 2020 2021
225  수원시  사고건수    3    5   19   29   52
226  수원시  사망자수    1    0    1    0    1
227  수원시  부상자수    2    5   20   30   54
228  성남시  사고건수    1    2    3    9   25
229  성남시  사망자수    0    1    0    1    0
..   ...   ...  ...  ...  ...  ...  ...
313  의왕시  사망자수    0    0    0    0    0
314  의왕시  부상자수    0    1    0    0    3
315  하남시  사고건수    1    2    5    5   18
316  하남시  사망자수    0    0    0    0    0
317  하남시  부상자수    1    2    5    6   21

[93 rows x 7 columns]