In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
pm = pd.read_excel('C:\\Users\\kijeong\\Desktop\\빅데이터 경진대회\\data\\사용할 데이터\\교통사고 관련 데이터\\가해운전자 차종별 교통사고.xls')
pm

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.21,2021.22,2021.23,2021.24,2021.25,2021.26,2021.27,2021.28,2021.29,2021.30
0,기준년도,합계,합계,합계,합계,합계,합계,합계,합계,원동기 자전거 이상,...,건설기계,건설기계,농기계,농기계,보행자,보행자,기타,기타,미분류,미분류
1,기준년도,합계,승용,승합,화물,특수,이륜,원동기,기타,합계,...,합계,기타,합계,기타,합계,기타,합계,기타,합계,기타
2,사고건수,1143175,163058,39801,43658,1111,22080,4690,868777,274398,...,2677,2677,389,389,9520,9520,429701,429701,431680,431680
3,사망자수,4185,2048,286,961,29,406,121,334,3851,...,79,79,62,62,0,0,7,7,0,0
4,부상자수,1803325,253046,61731,65786,1773,25668,5530,1389791,413534,...,3796,3796,426,426,11072,11072,666884,666884,800993,800993

In [8]:
pm.iloc[:,[1,13,25,37,49]]

      2017     2017.12 2017.24   2018.7      2018.19
0       합계  원동기 자전거 이상     농기계       합계  개인형이동수단(PM)
1       합계          특수      기타       기타           합계
2  1143175        1111     455   923776          225
3     4185          29      65      294            4
4  1803325        1773     496  1473510          238